*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
} /*RESET*/
#game{
    width: 100%;
    overflow-x: auto;
    /*position: absolute;*/
    /*left: 50%;*/
    /*top: 50%;*/
    /*transform: translate(-50%, -50%);*/
}
#board{
    width: max-content;
    border: 1px solid black;
    padding: 10px;
    background-color: silver;
    margin: auto;
}
#header{
    width: 100%;
    height: 40px;
    justify-content: space-between;
    margin-bottom: 10px;
}
.flag{
    background-position-x: 150px !important;
}
.bg{
    background-image: url("../images/dataImage.gif");
}
.flag_length{
    width: 20px;
    height: 100%;
    background-size: 241px;
}
.d-f{
    display: flex;
}
#faces{
    width: 40px;
    height: 100%;
    background-size: 219px;
    cursor: pointer;
}
.smile {
    background-position-y: 55px;
}
.surprise{
    background-position-x: -79px;
}
.die{
    background-position-x: -119px;
}
.win{
    background-position-x: 61px;
}
.gameGroup{
    width: 100%;
    height: calc(100% - 50px); /*10px margin-bottom and 40px header height*/
    background-color: black;
}
.block{
    width: 20px;
    height: 20px;
    background-size: 166px;
    /*cursor: pointer;*/
}
.block.hidden{
    background-position: 2px -44px;
}
#faces.mouseDown{
    background-position-x: -40px;
}
.block.mouseDown{
    background-position: 0 -29px;
    background-size: 181px;
}
.n{
    background-size: 172px;
    background-position-y: -28px;
}
.bomb, .flag{
    background-position-y: 61px !important;
}
.bomb{
    background-position-x: -73px;
}
.bombClicked{
    background-position-x: -35px;
}